<form action="/shortUrls" method="POST">
  <div class="form-group">
    <label for="url-id" class="sr-only">Url</label>
    <input
      autofocus
      required
      type="url"
      class="form-control mr-2 col"
      name="originalUrl"
      id="url-id"
      aria-describedby="urlHelp"
    />
  </div>
  <button type="submit" class="btn btn-primary">Schrink me</button>
</form>
